 body {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #f0f0f0;
            margin: 0;
            height: 100vh;
			
        }

 h2 {
            text-align: center;
            color: #333;
            font-family: 'Arial', sans-serif;
            font-size: 30px;
            margin: 15px 0;
			padding: 5px;
            animation-name: Animation;
            animation-duration: 2s;
            animation-iteration-count: 1;
        }

        @keyframes Animation {
            0% {
                transform: scale(0);
            }

            100% {
                transform: scale(1);
			    color: #5cb3cc ;
			
            }
        }

        .cards-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .card {
            background-color: #80daeb;
            width: 200px;
            height: 270px;
            margin: 10px;
            padding: 30px; 
            overflow: hidden;
            position: relative;
            transition: background-color 0.5s, transform 0.5s, box-shadow 0.3s;
            display: flex;
            flex-direction: column;
            justify-content: center; 
            align-items: center;
            border-radius: 18px;
            box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1); 
        }

        .card:hover {
            background-color: #e44d26;
            transform: scale(1.05);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
        }

        p {
            text-align: center;
            font-weight: bold;
            margin: 0;
        }

        .answer {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width:90%; 
            height:90%; 
            background-color: #e44d26;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            transition: opacity 0.6s;
            border-radius: 10px; 
        }

        .card:hover .answer {
            opacity: 1;
        }