
 table {
            border-collapse: collapse;
            width: 65%;
            margin: 20px auto;
			font-family: Arial, sans-serif;
			
        }
        table, th, td {
            border: 1px solid #000;
        }
        th, td {
            padding: 10px;
            text-align: center;
        }
         th {
            background-color:#555555  ;
            color: #fff;
        }
        tr:nth-child(even){
            background-color: #f0f8ff   ;
        }
		

